###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/fe_assets/node_modules

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
# var
/var/*
!/var/.gitignore

# web
/public/bundles
/public/uploads
/public/fe_assets2
/public/build.orig
# composer
/composer.phar
# /vendor
/vendor/**/.git


# npm
node_modules

# phpunit
.phpunit
/phpunit.xml
.phpunit.result.cache

# phpcs
.php_cs.cache
.php_cs

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
