.pretix-embed {
  .pretix-widget {
    @apply !border-none;
    a {
      @apply text-white hover:opacity-80 hover:text-white active:text-white focus:text-white;
    }

    .pretix-widget-event-calendar-event {
      @apply !rounded-none text-xs text-center;
    }

    .pretix-widget-event-calendar-head {
      strong {
        visibility: hidden;
      }
      @apply mt-8 mb-6;
    }

    .pretix-widget-event-calendar-day {
      @apply text-center font-soleil_light uppercase;
    }

    .pretix-widget-event-calendar-event-availability,
    .pretix-widget-event-calendar-event-name,
    .pretix-widget-attribution,
    .pretix-widget-event-header,
    .pretix-widget-error-action {
      display: none;
    }

    .pretix-widget-loading {
      background-color: rgba(50, 50, 50, 0.8) !important;

      svg {
        @apply !w-12 !h-12 mx-auto;
        path {
          @apply !fill-white;
        }
      }
    }
    button {
      @apply !bg-white  border-white text-[color:var(--current-stripe-textcolor)] uppercase hover:opacity-80 hover:text-[color:var(--current-stripe-textcolor)];
    }
  }
}

body .pretix-widget-frame-holder {
  .pretix-widget-frame-inner {
    @apply !rounded-none !pr-5;
  }
  background-color: rgba(50, 50, 50, 0.9) !important;
  .pretix-widget-frame-loading {
    svg {
      @apply !w-12 !h-12 mx-auto;
      path {
        @apply !fill-white;
      }
    }
  }
}
body .pretix-widget-frame-close {
  line-height: 0.6;
  a {
    @apply hover:opacity-80;
  }
  svg {
    display: inline;
  }
}

@media (max-width: 800px) {
  body .pretix-widget-frame-holder .pretix-widget-frame-close {
    right: 20px;
    top: 20px;
    background: transparent;
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
