@import "../../containers/Application/colors.scss";

.blockclipboardcorner {
    flex: 0 0 auto;

    position: absolute;
    right: 0;
    bottom: 0;
}

.blockclipboardcheckbox {
    right: 3px;
    bottom: 3px;
    background: $silver;
}
