@tailwind base;
@tailwind components;
@tailwind utilities;

@layer compatibility {
  .svg-icon {
    text-decoration: inherit;
  }
}

@import "../public/fe_assets2/tw_dekors.css";
@import "../public/fe_assets2/tw_colorpalettes.css";
